{% extends "addressbook/base.html" %}

{% block content %}
<style>
  #contain {
    width: 500px;
  }
</style>
</div>
  <div class="container" id="contain">
    <h2>Address Book List Form - Delete</h2>
    <hr>

    <form method="post">
        {% csrf_token %}
        Are you sure you want to delete "{{ object.fname }} {{ object.lname }}" ?
        <br>
        <br>
        <input type="submit" class="btn btn-primary" value="Delete">
        <a href="{% url 'addressbooklist_list' %}" id="cancel" name="cancel" style="color:white;" class="btn btn-warning">Back</a>

    </form>
  </div>
{% endblock content %}
