{% extends "addressbook/base.html" %}

{% block content %}
<style>
  #main h1 {
    margin: 0;
    display: inline-block;
  }
  #main p {
    float: right;
  }
  ::-webkit-input-placeholder {
    font-style: italic;
  }
  :-moz-placeholder {
     font-style: italic;
  }
  ::-moz-placeholder {
     font-style: italic;
  }
  :-ms-input-placeholder {
     font-style: italic;
  }
</style>
  <div class="container">
    <div id="main">
      <h1>Address Book List</h1>
      {% if user.is_authenticated %}
      <p>
        <button type="button" class="btn btn-primary js-create" data-toggle="modal" data-target="#modal-book" data-url="{% url 'addressbooklist_create' %}">
          Add 
        </button>
      </p>
<!--        <a class="btn btn-primary" href="{% url 'addressbooklist_create' %}">Add</a><br><br>
-->  
      {% else %}
      {% endif %}
    </div>
    <br>
    <table class="table table-light" id="book-table">
        <thead>
          <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Contact Number</th>
              <th>Address</th>
              {% if user.is_authenticated %}
                <th>Actions</th>
              {% else %}
              {% endif %}
          </tr>
        </thead>
        <tbody id="tbody-tab">
          {% for contact in object_list %}
            <tr>
              <td>{{ contact.fname }}</td>
              <td>{{ contact.lname }}</td>
              <td>{{ contact.cnumber }}</td>
              <td>{{ contact.address }}</td>
              {% if user.is_authenticated %}
                <td>
                  <button type="button" class="btn btn-info js-update" data-toggle="modal" data-target="#modal-book" data-url="{% url 'addressbooklist_update' contact.id %}">
                    Update
                  </button>
                  <button type="button" class="btn btn-danger js-delete" data-toggle="modal" data-target="#modal-book" data-url="{% url 'addressbooklist_delete' pk=contact.id %}">
                    Delete
                  </button>
                </td>
              {% else %}
              {% endif %}
            </tr>
          {% empty %}
            <tr>
              <td colspan="9" class="text-center bg-warning">No book</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
    <div class="modal fade" id="modal-book">
      <div class="modal-dialog">
        <div class="modal-content"></div>
      </div>
    </div>

    <a class="btn btn-success" href="/upload-csv/">CSV Import</a><br><br>
    <a class="btn btn-success" href="/download-csv/">CSV Export</a><br><br>
  </div>
  <br>
{% endblock content %}
